.navigation-bar
  width: 100%
  height: 50px

.section
  display: inline
  margin: 5px
  float: right

.button
  padding: 10px
  opacity: .8
  font: bold 14px Tahoma
  text-align: center
  color: White
  cursor: pointer

input[type='submit'], .green-button
  @extend .button
  background-color: MediumSeaGreen
  box-shadow: none
  text-shadow: none
  border: none

input[type='submit']:hover
  opacity: 1.0

.navigation-button
  @extend .button
  background-color: DarkOrange

.navigation-button:hover
  opacity: 1.0

.navigation-button 
  a
    color: White
    text-decoration: none

.navigation-button 
  a:hover
    background-color: DarkOrange

.navigation-button 
  a:visited
    color: White

.profile-button
  @extend .navigation-button
  background-color: Black

.profile-button 
  a:hover
    background-color: Black

a.css1
  padding: 5px
  margin: 10px
  opacity: .5
  font: italic 12px Tahoma
  text-align: center
  cursor: pointer
  background-color: LightSkyBlue
  text-decoration: none

a.css1:hover
  background-color: LightSkyBlue
  opacity: 1.0

a.css1:visited
  color: Black

.css2, .css3, .css4
  @extend .css1
